django==5.2
djangorestframework==3.16.0
django-encrypted-model-fields==0.6.5
django-oauth-toolkit==3.0.1
celery==5.5.1
psycopg2-binary==2.9.10
dotenv==0.9.9
kombu==5.5.3
cryptography
rabbitmq-server==0.0.1
sqlalchemy==2.0.40
django-celery-results==2.6.0
drf-yasg==1.21.10
django-cors-headers==4.7.0
dj_database_url==2.3.0